
/*product part*/
 .our_products {
    padding: 80px 0;
}

section.our_products  {
    display: block;
}

/*!*@media only screen and (max-width: 1024px){*!*/
/*!* .container {*!*/
/*!*    padding: 0 66px;*!*/
/*!*    max-width: 1676px;*!*/
/*!*    width: 100%;*!*/
/*!*    margin-right: auto;*!*/
/*!*    margin-left: auto;*!*/
/*!*}*!*/
/*}*/
.row {
   
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
    * {
    
    box-sizing: border-box;
} 
 

.product_container .col-md-3 {
    margin-bottom: 45px;
}


@media (min-width: 768px){
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media only screen and (max-width: 575px){
.product_container .col-md-3 {
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
}
}
.col-md-3 .col-sm-6 .col-xs-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.btn-block {
    display: block;
    width: 100%;
}
a {
    transition: all .3s ease;
}
a {
    text-decoration: none !important;
    color: #bf2026;
}
a:-webkit-any-link {
   
    cursor: pointer;  
}
a img {
    border: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.product_container .col-md-3 p {
    padding: 0;
    margin-bottom: 15px;
    margin-top: 40px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}
.product_container .col-md-3 p::before {
    content: '';
    width: 47px;
    height: 5px;
    background: #bf1818;
    display: block;
    margin: 0 0 20px;
}
::before {
    box-sizing: border-box;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.fade:not(.show) {
    opacity: 0;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.modal.show .modal-dialog {
    transform: none;
}
.modal.fade .modal-dialog {
   
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    
    transform: translate(0, -50px);
}

.modal-dialog {
    max-width: 500px;
    margin: 4.75rem auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    /* pointer-events: none; */
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.header-bottom {
    border-bottom: unset;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.product_modal {
    padding: 100px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
button.close {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
   
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}



.product_closebtn span {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-weight: 700;
    padding: 10px 13px;
    transition: all 0.2s linear;
    background: #000000;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
}
.product_image {
    text-align: center;
    margin-bottom: 50px;
}
.prod_title {
    font-weight: 800;
    font-size: 16px;
    margin-left: 2px;
    padding-bottom: 10px;
    display: inline-block;
    /* margin-bottom: 41px; */
    text-transform: uppercase;
    color: #bf1818;
    border-bottom: 3px solid #bf1818;
}
.modal-content {
  
    pointer-events: auto;
   
}
/*service part */















