{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Soori Technologies Pvt. Ltd.</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{% static 'images/logo_images/soori_logo.png' %}" rel="icon">
    <link href="{% static 'images/logo_images/soori_logo.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Suprema</h1>
    <p>JUST LOOK AND GO</p>
</div>


<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-12">
            <h2>About Superma</h2>
            <p>Suprema is a leading global provider of security and biometrics. By combining world renowned biometric
                algorithms with superior engineering, Suprema has introduced a number of technology initiatives and
                innovations to the security industry over the last couple of decades. Suprema’s extensive range of
                portfolio includes biometric access control systems, time & attendance solutions, fingerprint live
                scanners, mobile authentication solutions and embedded fingerprint modules. Suprema has established
                itself as a premium global brand in physical security industry and has worldwide sales network in over
                130 countries. Suprema has no.1 market share in biometric access control in EMEA region and named to the
                world's top 50 security manufacturer.</p>

            <h3>For more information visit links:</h3>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active"
                       href="https://www.supremainc.com/en/main.asp">Suprema link</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
    </div>
</div>


</body>
</html>
